.navbar-default {
  background-color: #4b0082;
}
.navbar-default h1 {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.btn-theme {
  background-color: #4b0082;
}

#info {
  padding-top: 20px;
  width: 100%;
}
#info img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto 20px;
}
#info p {
  margin: 0px;
}
#info a {
  cursor: pointer;
  text-decoration: underline;
}

#social {
  padding-top: 10px;
  padding-bottom: 20px;
}
#social span {
  color: #4b0082;
  width: 70px;
  height: 80px;
}
#social i {
  color: #f2f2f2;
}
#social .container {
  padding-bottom: 25px;
}

section.coderwall {
  margin-top: 30px;
  width: 100%;
}
section.coderwall .coderwall-badge {
  margin: 0 0 0 10px;

}
section.coderwall-root .coderwall-logo {
  display: none;
}


#f {
  background-color: #4b0082;
}

